.cast {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.castItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.castImg {
  max-width: 250px;
}